Repository ksugawara61/curio: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-graphql, storybook-coverage

lint:
  run: pnpm biome check --no-errors-on-unmatched --files-ignore-unknown=true --write {staged_files}

lint-graphql:
  run: "if [ ! -d \"apps/extension/node_modules\" ]; then\n  echo \"⚠️  node_modules not found. Run 'pnpm install' first.\"\n  exit 1\nfi\necho \"{staged_files}\" | sed 's|apps/extension/||g' | xargs pnpm --filter @curio/extension lint --fix\n"

storybook-coverage:
  run: 'echo "{staged_files}" | sed ''s|/index\.tsx||g'' | xargs node scripts/check-storybook-coverage.mjs
  
    '

fix: webview-mock が壊れていたので修正
  apps/mobile/src/libs/storybook/webview-mock.tsx
Due: lint

Feature/mobile webview story (#195)
  apps/mobile/src/libs/storybook/webview-mock.tsx
  apps/mobile/tests/vrt/__screenshots__/storybook.spec.ts-snapshots/features-article-webview--default-mobile-mobile-linux.png
Due: lint

feat(mobile): add test coverage enforcement for src/features (85%+ threshold)
  apps/mobile/package.json
  apps/mobile/pnpm-lock.yaml
  apps/mobile/src/features/article-webview/test.tsx
  apps/mobile/src/features/recent-article-list/test.tsx
  apps/mobile/src/features/sign-in/test.tsx
  apps/mobile/src/features/sign-up/test.tsx
  apps/mobile/vitest.config.ts
Due: lint

chore(mobile): remove unused biome-ignore comment in test
  apps/mobile/src/features/recent-article-list/test.tsx
Due: lint

feat(mobile): add test coverage enforcement for src/features (85%+ threshold) (#196)
  apps/mobile/package.json
  apps/mobile/pnpm-lock.yaml
  apps/mobile/src/features/article-webview/test.tsx
  apps/mobile/src/features/recent-article-list/test.tsx
  apps/mobile/src/features/sign-in/test.tsx
  apps/mobile/src/features/sign-up/test.tsx
  apps/mobile/vitest.config.ts
Due: lint

feat(mobile): サインイン後画面にタブナビゲーションを追加
  apps/mobile/src/app/(home)/_layout.tsx
  apps/mobile/src/app/(home)/bookmark-list.tsx
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/features/bookmark-list/BookmarksQuery.mocks.ts
  apps/mobile/src/features/bookmark-list/BookmarksQuery.ts
  apps/mobile/src/features/bookmark-list/index.tsx
  apps/mobile/src/features/bookmark-list/stories.tsx
  apps/mobile/src/features/recent-article-list/test.tsx
Due: lint, storybook-coverage

feat(mobile): サインイン後画面にタブナビゲーションを追加 (#197)
  apps/mobile/src/app/(home)/_layout.tsx
  apps/mobile/src/app/(home)/bookmark-list.tsx
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/features/bookmark-list/BookmarksQuery.mocks.ts
  apps/mobile/src/features/bookmark-list/BookmarksQuery.ts
  apps/mobile/src/features/bookmark-list/index.tsx
  apps/mobile/src/features/bookmark-list/stories.tsx
  apps/mobile/src/features/recent-article-list/test.tsx
  apps/mobile/tests/vrt/__screenshots__/storybook.spec.ts-snapshots/features-bookmark-list--empty-mobile-mobile-linux.png
  apps/mobile/tests/vrt/__screenshots__/storybook.spec.ts-snapshots/features-bookmark-list--fetch-error-mobile-mobile-linux.png
  apps/mobile/tests/vrt/__screenshots__/storybook.spec.ts-snapshots/features-bookmark-list--success-mobile-mobile-linux.png
  apps/mobile/tests/vrt/__screenshots__/storybook.spec.ts-snapshots/features-recent-article-list--empty-mobile-mobile-linux.png
  apps/mobile/tests/vrt/__screenshots__/storybook.spec.ts-snapshots/features-recent-article-list--fetch-error-mobile-mobile-linux.png
  apps/mobile/tests/vrt/__screenshots__/storybook.spec.ts-snapshots/features-recent-article-list--success-mobile-mobile-linux.png
Due: lint, storybook-coverage

feat(mobile): article-webview にブックマーク追加・削除機能を追加
  apps/mobile/src/features/article-webview/BookmarkCheckQuery.mocks.ts
  apps/mobile/src/features/article-webview/BookmarkCheckQuery.ts
  apps/mobile/src/features/article-webview/CreateBookmarkMutation.mocks.ts
  apps/mobile/src/features/article-webview/CreateBookmarkMutation.ts
  apps/mobile/src/features/article-webview/DeleteBookmarkMutation.mocks.ts
  apps/mobile/src/features/article-webview/DeleteBookmarkMutation.ts
  apps/mobile/src/features/article-webview/index.tsx
  apps/mobile/src/features/article-webview/test.tsx
  apps/mobile/src/features/bookmark-list/index.tsx
  apps/mobile/src/features/recent-article-list/index.tsx
  apps/mobile/src/features/recent-article-list/test.tsx
Due: lint, storybook-coverage

feat: clerk-react in mobile
  apps/mobile/package.json
  apps/mobile/pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint

ci: vrt_approve に workflow_dispatch の target パラメータを追加
  .github/workflows/vrt_approve.yaml
Due: none

Simplify build condition in vrt_approve.yaml
  .github/workflows/vrt_approve.yaml
Due: none

fix(mobile/storybook): @expo/vector-icons/Ionicons のモックを追加して TurboModuleRegistry エラーを解消
  apps/mobile/.storybook/main.ts
  apps/mobile/src/libs/storybook/ionicons-mock.tsx
Due: lint

feat(mobile): article-webview にブックマーク追加・削除機能を追加 (#198)
  apps/mobile/.storybook/main.ts
  apps/mobile/src/features/article-webview/BookmarkCheckQuery.mocks.ts
  apps/mobile/src/features/article-webview/BookmarkCheckQuery.ts
  apps/mobile/src/features/article-webview/CreateBookmarkMutation.mocks.ts
  apps/mobile/src/features/article-webview/CreateBookmarkMutation.ts
  apps/mobile/src/features/article-webview/DeleteBookmarkMutation.mocks.ts
  apps/mobile/src/features/article-webview/DeleteBookmarkMutation.ts
  apps/mobile/src/features/article-webview/index.tsx
  apps/mobile/src/features/article-webview/test.tsx
  apps/mobile/src/features/bookmark-list/index.tsx
  apps/mobile/src/features/recent-article-list/index.tsx
  apps/mobile/src/features/recent-article-list/test.tsx
  apps/mobile/src/libs/storybook/ionicons-mock.tsx
Due: lint, storybook-coverage

Add selective VRT approval targeting for extension and mobile (#199)
  .github/workflows/vrt_approve.yaml
Due: none

feat: web 用の clerk 処理を追加
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/_layout.web.tsx
  apps/mobile/src/shared/apollo-provider/index.tsx
  apps/mobile/src/shared/apollo-provider/useAuth.ts
  apps/mobile/src/shared/apollo-provider/useAuth.web.ts
  apps/mobile/src/shared/app-provider/index.tsx
  apps/mobile/src/shared/auth-guard/index.tsx
  apps/mobile/src/shared/auth-guard/index.web.tsx
  apps/mobile/src/shared/clerk-provider/index.tsx
  apps/mobile/src/shared/clerk-provider/index.web.tsx
  apps/mobile/tailwind.config.js
Due: lint

update lockfile
  apps/web/pnpm-lock.yaml
Due: none

mobile の react-native-web でログインできる機構を追加 (#200)
  apps/mobile/package.json
  apps/mobile/pnpm-lock.yaml
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/_layout.web.tsx
  apps/mobile/src/shared/apollo-provider/index.tsx
  apps/mobile/src/shared/apollo-provider/useAuth.ts
  apps/mobile/src/shared/apollo-provider/useAuth.web.ts
  apps/mobile/src/shared/app-provider/index.tsx
  apps/mobile/src/shared/auth-guard/index.tsx
  apps/mobile/src/shared/auth-guard/index.web.tsx
  apps/mobile/src/shared/clerk-provider/index.tsx
  apps/mobile/src/shared/clerk-provider/index.web.tsx
  apps/mobile/tailwind.config.js
  apps/web/pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint

test: coverage
  apps/graphql/package.json
  apps/mobile/package.json
Due: lint

feat: web では別タブで開くように変更
  apps/mobile/src/features/bookmark-list/index.tsx
  apps/mobile/src/features/recent-article-list/index.tsx
Due: lint, storybook-coverage

update favicon
  apps/mobile/assets/favicon.png
Due: none

feat: test
  apps/mobile/src/features/recent-article-list/test.tsx
Due: lint

Feature/web link (#202)
  apps/mobile/assets/favicon.png
  apps/mobile/src/features/bookmark-list/index.tsx
  apps/mobile/src/features/recent-article-list/index.tsx
  apps/mobile/src/features/recent-article-list/test.tsx
Due: lint, storybook-coverage

test: fix coverage CI failures for graphql and mobile
  apps/graphql/vitest.config.ts
  apps/mobile/src/features/bookmark-list/test.tsx
Due: lint

test: coverage (#203)
  apps/graphql/package.json
  apps/graphql/vitest.config.ts
  apps/mobile/package.json
  apps/mobile/src/features/bookmark-list/test.tsx
Due: lint

Update test.tsx
  apps/mobile/src/features/bookmark-list/test.tsx
Due: lint

Update test.tsx (#204)
  apps/mobile/src/features/bookmark-list/test.tsx
Due: lint

feat(mobile): 記事一覧に未読/すべての切り替えと既読機能を追加
  apps/mobile/src/features/recent-article-list/MarkArticleAsReadMutation.mocks.ts
  apps/mobile/src/features/recent-article-list/MarkArticleAsReadMutation.ts
  apps/mobile/src/features/recent-article-list/RecentArticlesQuery.mocks.ts
  apps/mobile/src/features/recent-article-list/index.tsx
  apps/mobile/src/features/recent-article-list/stories.tsx
  apps/mobile/src/features/recent-article-list/test.tsx
Due: lint, storybook-coverage

feat(mobile): 記事一覧に未読/すべての切り替えと既読機能を追加 (#205)
  apps/mobile/src/features/recent-article-list/MarkArticleAsReadMutation.mocks.ts
  apps/mobile/src/features/recent-article-list/MarkArticleAsReadMutation.ts
  apps/mobile/src/features/recent-article-list/RecentArticlesQuery.mocks.ts
  apps/mobile/src/features/recent-article-list/index.tsx
  apps/mobile/src/features/recent-article-list/stories.tsx
  apps/mobile/src/features/recent-article-list/test.tsx
  apps/mobile/tests/vrt/__screenshots__/storybook.spec.ts-snapshots/features-recent-article-list--all-read-mobile-mobile-linux.png
  apps/mobile/tests/vrt/__screenshots__/storybook.spec.ts-snapshots/features-recent-article-list--fetch-error-mobile-mobile-linux.png
  apps/mobile/tests/vrt/__screenshots__/storybook.spec.ts-snapshots/features-recent-article-list--success-mobile-mobile-linux.png
  apps/mobile/tests/vrt/__screenshots__/storybook.spec.ts-snapshots/features-recent-article-list--with-read-article-mobile-mobile-linux.png
Due: lint, storybook-coverage

feat(mobile): add typecheck and fix type errors
  apps/extension/pnpm-lock.yaml
  apps/graphql/pnpm-lock.yaml
  apps/mobile/package.json
  apps/mobile/pnpm-lock.yaml
  apps/mobile/src/shared/gluestack-ui-provider/index.tsx
  apps/web/pnpm-lock.yaml
  package.json
  packages/eslint-config/pnpm-lock.yaml
  packages/graphql-client/pnpm-lock.yaml
  packages/testing-library/pnpm-lock.yaml
  pnpm-lock.yaml
Due: lint

fix: pin msw version in catalog and fix web typecheck errors
  apps/extension/pnpm-lock.yaml
  apps/graphql/pnpm-lock.yaml
  apps/mobile/pnpm-lock.yaml
  apps/web/pnpm-lock.yaml
  apps/web/src/features/bookmark-list/BookmarksQuery.mocks.ts
  package.json
  packages/eslint-config/pnpm-lock.yaml
  packages/graphql-client/pnpm-lock.yaml
  packages/testing-library/pnpm-lock.yaml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint

feat(mobile): add typecheck and fix type errors (#206)
  apps/extension/pnpm-lock.yaml
  apps/graphql/pnpm-lock.yaml
  apps/mobile/package.json
  apps/mobile/pnpm-lock.yaml
  apps/mobile/src/shared/gluestack-ui-provider/index.tsx
  apps/web/pnpm-lock.yaml
  apps/web/src/features/bookmark-list/BookmarksQuery.mocks.ts
  packages/testing-library/pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint

feat(mobile): add bookmark-add feature
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/bookmark-add.tsx
  apps/mobile/src/features/bookmark-add/BookmarksQuery.mocks.ts
  apps/mobile/src/features/bookmark-add/BookmarksQuery.ts
  apps/mobile/src/features/bookmark-add/CreateBookmarkMutation.mocks.ts
  apps/mobile/src/features/bookmark-add/CreateBookmarkMutation.ts
  apps/mobile/src/features/bookmark-add/FetchUrlMetadataQuery.mocks.ts
  apps/mobile/src/features/bookmark-add/FetchUrlMetadataQuery.ts
  apps/mobile/src/features/bookmark-add/index.tsx
  apps/mobile/src/features/bookmark-add/stories.tsx
  apps/mobile/src/features/bookmark-list/index.tsx
Due: lint, storybook-coverage

ci: split VRT workflow into extension and mobile with paths filter
  .github/workflows/vrt-extension.yaml
  .github/workflows/vrt-mobile.yaml
Due: none

fix(mobile): テスト失敗を修正し StyleSheet を nativewind に移行
  apps/mobile/src/features/bookmark-add/index.tsx
  apps/mobile/src/features/bookmark-add/test.tsx
  apps/mobile/src/features/bookmark-list/index.tsx
  apps/mobile/src/libs/test/setup.ts
Due: lint, storybook-coverage

feat(mobile): add bookmark-add feature (#208)
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/bookmark-add.tsx
  apps/mobile/src/features/bookmark-add/BookmarksQuery.mocks.ts
  apps/mobile/src/features/bookmark-add/BookmarksQuery.ts
  apps/mobile/src/features/bookmark-add/CreateBookmarkMutation.mocks.ts
  apps/mobile/src/features/bookmark-add/CreateBookmarkMutation.ts
  apps/mobile/src/features/bookmark-add/FetchUrlMetadataQuery.mocks.ts
  apps/mobile/src/features/bookmark-add/FetchUrlMetadataQuery.ts
  apps/mobile/src/features/bookmark-add/index.tsx
  apps/mobile/src/features/bookmark-add/stories.tsx
  apps/mobile/src/features/bookmark-add/test.tsx
  apps/mobile/src/features/bookmark-list/index.tsx
  apps/mobile/src/libs/test/setup.ts
  apps/mobile/tests/vrt/__screenshots__/storybook.spec.ts-snapshots/features-bookmark-add--url-entry-mobile-mobile-linux.png
  apps/mobile/tests/vrt/__screenshots__/storybook.spec.ts-snapshots/features-bookmark-list--empty-mobile-mobile-linux.png
  apps/mobile/tests/vrt/__screenshots__/storybook.spec.ts-snapshots/features-bookmark-list--fetch-error-mobile-mobile-linux.png
  apps/mobile/tests/vrt/__screenshots__/storybook.spec.ts-snapshots/features-bookmark-list--success-mobile-mobile-linux.png
Due: lint, storybook-coverage

fix(mobile): @expo/vector-icons のモックを廃止し実コンポーネントを使用
  apps/mobile/.storybook/main.ts
  apps/mobile/src/features/article-webview/index.tsx
  apps/mobile/src/features/article-webview/test.tsx
  apps/mobile/src/libs/storybook/ionicons-mock.tsx
  apps/mobile/src/libs/test/setup.ts
  apps/mobile/vitest.config.ts
Due: lint, storybook-coverage

feat: web の deploy を web から react-native-web の仕組みに migrate
  .github/workflows/web-deploy.yaml
  apps/mobile/package.json
  apps/mobile/pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint

fix(mobile): Storybook の TurboModuleRegistry エラーを修正
  apps/mobile/.storybook/main.ts
  apps/mobile/src/libs/storybook/expo-font-mock.ts
Due: lint

update pnpm i
  apps/graphql/pnpm-lock.yaml
  apps/web/pnpm-lock.yaml
Due: none

feat: web の deploy を web から react-native-web の仕組みに migrate (#210)
  .github/workflows/web-deploy.yaml
  apps/graphql/pnpm-lock.yaml
  apps/mobile/package.json
  apps/mobile/pnpm-lock.yaml
  apps/web/pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint

Path conditions:
  lint: any of: **/*.{js,mjs,ts,mts,jsx,tsx,json}
  lint-graphql: any of: apps/extension/src/**/*.{js,mjs,ts,mts,jsx,tsx}
  storybook-coverage: any of: apps/{mobile,extension}/src/features/**/index.tsx
