Repository ksugawara61/curio: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-graphql, storybook-coverage

lint:
  run: pnpm biome check --no-errors-on-unmatched --files-ignore-unknown=true --write {staged_files}

lint-graphql:
  run: "if [ ! -d \"apps/extension/node_modules\" ]; then\n  echo \"⚠️  node_modules not found. Run 'pnpm install' first.\"\n  exit 1\nfi\necho \"{staged_files}\" | sed 's|apps/extension/||g' | xargs pnpm --filter @curio/extension lint --fix\n"

storybook-coverage:
  run: 'echo "{staged_files}" | sed ''s|/index\.tsx||g'' | xargs node scripts/check-storybook-coverage.mjs
  
    '

fix(mobile): preload Ionicons font in web root layout
  apps/mobile/src/app/_layout.web.tsx
Due: lint

fix(mobile): Vitest/Storybook で .web.ts/.web.tsx を優先解決する
  apps/mobile/.storybook/main.ts
  apps/mobile/src/libs/storybook/clerk-mock.tsx
  apps/mobile/src/libs/test/setup.ts
  apps/mobile/vitest.config.ts
Due: lint

fix(mobile): Vitest/Storybook で .web.ts/.web.tsx を優先解決する (#213)
  apps/mobile/.storybook/main.ts
  apps/mobile/src/libs/storybook/clerk-mock.tsx
  apps/mobile/src/libs/test/setup.ts
  apps/mobile/vitest.config.ts
Due: lint

fix(mobile): bookmark-add でback先がない場合はルートにリダイレクト
  apps/mobile/src/features/bookmark-add/index.tsx
Due: lint, storybook-coverage

test(mobile): bookmark-add テストのrouterモックに canGoBack を追加
  apps/mobile/src/features/bookmark-add/test.tsx
Due: lint

fix(mobile): bookmark-add でback先がない場合はルートにリダイレクト (#214)
  apps/mobile/src/features/bookmark-add/index.tsx
  apps/mobile/src/features/bookmark-add/test.tsx
Due: lint, storybook-coverage

feat(mobile): bookmark-add フォームを react-hook-form + zod で実装
  apps/mobile/package.json
  apps/mobile/src/features/bookmark-add/index.tsx
  apps/mobile/src/features/bookmark-add/schema.ts
  apps/mobile/src/features/bookmark-add/test.tsx
Due: lint, storybook-coverage

chore(mobile): pnpm-lock.yaml を更新（react-hook-form, zod 追加）
  apps/mobile/pnpm-lock.yaml
Due: none

feat(mobile): bookmark-add フォームを react-hook-form + zod で実装 (#215)
  apps/mobile/package.json
  apps/mobile/pnpm-lock.yaml
  apps/mobile/src/features/bookmark-add/index.tsx
  apps/mobile/src/features/bookmark-add/schema.ts
  apps/mobile/src/features/bookmark-add/test.tsx
Due: lint, storybook-coverage

feat: expo/vector-icons の読み込みエラー暫定対処
  apps/mobile/app.config.ts
  apps/mobile/assets/fonts/Ionicons.ttf
  apps/mobile/src/app/_layout.web.tsx
Due: lint

feat: expo/vector-icons の読み込みエラー暫定対処 (#216)
  apps/mobile/app.config.ts
  apps/mobile/assets/fonts/Ionicons.ttf
  apps/mobile/src/app/_layout.web.tsx
Due: lint

Path conditions:
  lint: any of: **/*.{js,mjs,ts,mts,jsx,tsx,json}
  lint-graphql: any of: apps/extension/src/**/*.{js,mjs,ts,mts,jsx,tsx}
  storybook-coverage: any of: apps/{mobile,extension}/src/features/**/index.tsx
